header {
  background: linear-gradient(103.33deg, #CCEAFF 14.61%, #F4F9FD 79.6%);
}

body {
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  text-rendering: auto;
}

.title {
  width: 600px;
}

h1 {
  color: #EE0072;
  font-size: 40px;

  font-style: normal;
  font-weight: 800;
  font-size: 96px;
  line-height: 84px;

}

h2 {
  font-weight: normal;
  font-size: 20px;
  color: #18639E;
}

h3 {
  color: #18639E;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-direction: row;
  list-style: none;
  color: #18639E;
}

.content {
  margin-top: 10px;
  list-style: none;
}

.content_right {
  font-weight: bold;
  display: flex;
}

.content_left {}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}



.menu-botton:hover {
  color: #18639E;

}

.menu-botton {
  color: #18639E;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  padding: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left !important;
  width: 380px;
  height: 200px;

  margin: 5px;
  color: #18639E;
  border-radius: 5%;
  padding: 1.5rem;
}

.card__picture {
  display: block;
  height: auto;
  width: 200px;
}

.card__name {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.story {
  color: #18639E;
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  font-size: 20px;

}

.picture__apolenka {
  width: 100px;
  height: auto;
}
