@import url('https://fonts.googleapis.com/css2?family=Exo 2&display=swap');

* {
  font-family: 'Exo 2';
}



header {
  background: linear-gradient(103.33deg, #CCEAFF 14.61%, #F4F9FD 79.6%);
  height: 450px;
}

body {
  background-attachment: fixed;
  text-rendering: auto;
}

.heading {
  width: 600px;

  margin-left: 130px;
  margin-top: 100px;
}

h1 {
  color: #EE0072;
  font-size: 40px;

  font-style: normal;
  font-weight: 800;
  font-size: 96px;
  line-height: 84px;
  margin: 0px;
}


h2 {
  font-weight: normal;
  font-size: 30px;
  color: #18639E;
  margin: 0px 50px 10px 0px;
}

h3 {
  color: #18639E;
  margin: 50px 0px 0px 0px;
  font-size: 40px;
}

.story {
  margin-left: 130px;
  width: 656px;
  color: #34546D;
}

.story1 {
  font-size: 25px;
  line-height: 150%;
  color: #34546D;
}

.story2 {
  color: #15232D;
}

.story3 {
  font-style: italic;
  color: #34546D;
}

.link {
  color: #EE0072;
  font-style: italic;
  text-decoration: underline;

}

.menu {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-direction: row;
  list-style: none;
  color: #18639E;
}

.content {
  margin-top: 10px;
  list-style: none;
}

.content_right {
  font-weight: bold;
  display: flex;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}



.menu-botton:hover {
  color: #18639E;

}

.menu-botton {
  color: #18639E;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  padding: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left !important;
  width: 380px;
  height: 200px;
  margin: 5px;
  color: #18639E;
  border-radius: 5%;
  padding: 1.5rem;
}

.card__picture {
  display: block;
  height: auto;
  width: 200px;
}

.card__name {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.story {
  color: #18639E;
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  font-size: 20px;

}

.picture__apolenka {
  width: 100px;
  height: auto;
}

.sekce-stred {
  color: #18639E;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;


}

.text1 {
  margin-bottom: 0px;
  color: #34546D;

}

.text2 {
  margin-top: 0px;
  color: #34546D;
}

.change-right {
  display: flex;
  justify-content: right;
  width: 100%;
  margin-right: 350px;
}

.change {
  text-decoration: none;
  font-weight: bold;
  color: #EE0072;
}

.title {

  color: #EE0072;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  margin: 0px;

}

.book {
  color: #15232D;
}

.books {
  display: flex;
  max-width: 850px;
  flex-direction: column;
}

.recept-obrazek {

  width: 250px;
  height: 167px;
  border-radius: 10px;


}

.foto-recept {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 6px;
}

.nazev-org {
  color: #18639E;
  font-weight: bold;
}

.nazvy {
  display: flex;
  flex-direction: column;
}

.nazvy-mapa {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  gap: 6px;
}
